header, footer{
    background-image: url("../../../global/css/cssImages/backGround1.jpg") ;
}

main img{
    width: 29vw;
    height: 31hv;
    margin-left: 10vw;
    border-radius: 25px;
    float:left;
}

main article{
    float: right;
    width: 29vw;
    height: 36.5vh;
    margin-right: 10vw;
    background-color: rgba(37, 98, 189, 0.5);
    border-radius: 25px;
    padding: 16px;
    field-sizing: content;
    margin-bottom: 60px;
}