*{
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}


body{
    background-color: rgba(29, 31, 46, 1);
}

nav{
    width: 88vw;
    height: 14vh;
    background-color: rgba(28, 59, 110, 1);
    border-radius: 25px;
    padding: 2vh 1vw;
}

nav div{
    float:left;
    width: 10vw;
}




nav details {
    float: right;
  width: 26vw;
  height: 8vh;
}

nav details summary {
    padding: 15px;
    font-size: 34px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(16, 34, 71, .5);
  border-radius: 25px;
}

nav details div {
    padding: .5vw .5vw;
    text-align: center;
    height: 38vh;
    width: 26vw;
    font-size: 24px;
    background-color:rgba(55, 86, 146, 0.93) ;
    border-radius: 0 0 25px 25px;
}

nav details div div {
    height: 5vh;
    width: 25vw;
    padding: 2vw;
    margin-bottom: 1vh;
    background-color: rgba(38, 72, 140, 0.5);
    border-radius: 25px;
    padding:0 0px;
    color: rgb(255,255,255);
}



nav details[open] summary{
    border-radius: 25px 25px 0 0;
    
}

nav details summary::-webkit-details-marker {
    display: none;
}

nav details summary::after {
    content: "";
    background-image: url('../images/dropDown.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px;
    padding: 16px;

    display: inline-block;
    transition: transform 0.2s ease;
    
}

nav details[open] summary::after{
    transform: rotate(90deg);
}